node_modules
.env
vendor/
.env.example
.env.rej
public/storage/.gitignore

node_modules
vendor/
.env
public/tinymce/
.vite/
resources/img/localhost _ 127.0.0.1 _ larasheesh _ media _ phpMyAdmin 5.2.1.html
resources/img/localhost _ 127.0.0.1 _ larasheesh _ media _ phpMyAdmin 5.2.1_files/
resources/img/noun-ant-5737197-fff7e0.svg
