RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

AuthType Basic
AuthName "Restricted Area"
AuthUserFile /home/grmbjckg/private/.htpasswd
Require valid-user

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
