$jaune: #edb200;

.blogue-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    .blogue-content {
        border-radius: 10px;
        margin: 3% 0;
        width: 90%;

        .top-div {
            align-items: center;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 4%;
            position: relative;
            width: 100%;

            .white-buble {
                background-color: #fff;
                border-radius: 50px;
                display: flex;
                height: 35px;
                margin: 0 1%;
                width: 35px;
            }
            .arrow {
                font-size: 60px;
                margin-right: 50px;
            }

            h1 {
                color: $jaune;
                font-size: 60px;
                position: relative;
            }

            p {
                color: #edb20047;
                font-family: 'Edo', sans-serif;
                font-size: 80px;
                left: -30px;
                position: absolute;
                top: -35px;
            }
        }

        .content {
            align-items: normal;
            display: flex;
            justify-content: flex-start;
            width: 100%;

            .single-post {
                width: 100%;

                .img-wrapper {
                    display: flex;
                    justify-content: center;
                    margin-top: 2%;
                    width: 100%;

                    img {
                        max-width: 1100px;
                        width: 100%;
                    }
                }

                .body {
                    font-size: 18px;
                    margin: 2% 0;
                }

                .thematiques {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;

                    .thematique {
                        background-color: #000;
                        border: 1px solid #000;
                        border-radius: 20px;
                        color: #fff;
                        font-size: 16px;
                        font-weight: bold;
                        margin: 0 10px;
                        padding: 5px 20px;
                        text-decoration: none;
                    }
                }
            }

            .empty {
                align-items: center;
                display: flex;
                justify-content: center;
                margin-top: 15%;
                width: 100%;

                h3 {
                    font-size: 18px;
                    text-align: center;
                }
            }

            .posts {
                align-items: flex-start;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 100%;



                .post {
                    border-bottom: #d3d3d3 1px solid;
                    height: fit-content;
                    margin: 0 1% 2% 1%;
                    padding-bottom: 2%;
                    width: 300px;

                    .image {
                        width: 100%;
                        
                        img {
                            border-radius: 5%;
                            width: 100%;
                        }
                    }

                    .title {
                        align-items: center;
                        display: flex;
                        justify-content: space-between;
                        margin: 3% 0;
                        width: 100%;

                        h3 {
                            color: #000;
                            font-size: 30px;
                            font-weight: bold;
                        }

                        .buble {
                            align-items: center;
                            background-color: #000;
                            border-radius: 25px;
                            border: 1px solid #000;
                            cursor: pointer;
                            display: flex;
                            height: 35px;
                            justify-content: center;
                            width: 35px;

                            i {
                                color: #fff;
                                font-size: 17px;
                            }
                        }

                        .buble:hover {
                            i {
                                color: $jaune;
                            }
                        }

                        .active {
                            i {
                                color: $jaune;
                            }
                        }
                    }

                    .desc {
                        width: 100%;

                        p {
                            font-size: 18px;
                        }
                    }

                    .tags {
                        align-items: baseline;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        margin: 3% 0;
                        width: 100%;

                        .tag {
                            background-color: #000;
                            border: 1px solid #000;
                            border-radius: 20px;
                            color: #fff;
                            font-size: 16px;
                            font-weight: bold;
                            margin-bottom: 10px;
                            margin-right: 5px;
                            padding: 5px 20px;
                            text-decoration: none;
                        }
                    }

                    .more {
                        width: 100%;

                        a {
                            background-color: #edb200;
                            border: 1px solid #edb200;
                            border-radius: 20px;
                            color: #000;
                            cursor: pointer;
                            font-size: 16px;
                            font-weight: bold;
                            margin-right: 5px;
                            padding: 5px 20px;
                            text-decoration: none;
                        }

                        a:hover {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
} 

@media screen and (max-width:767px) {
    .blogue-container {
        margin-top: 50px;

        .blogue-content .top-div {
            justify-content: center;
            
            h1 {
                font-size: 50px;
            }
        
            p {
                font-size: 60px;
                left: auto;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .blogue-container .blogue-content .content .posts {
        justify-content: center;
        
        .post {
            margin-bottom: 20px;
    
            .more {
                margin-bottom: 2%;
            }
        }
    }
}

@media screen and (max-width:500px) {
    .blogue-container .blogue-content .top-div {
        h1 {
            font-size: 40px;
        }
    
        p {
            font-size: 45px;
            top: -20px;
        }
    }  
}