.events__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  position: relative;
}
.events__container .events__content {
  width: 95%;
}
.events__container .events__content .h1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.events__container .events__content .h1__container i {
  margin-right: 20px;
  font-size: 40px;
}
.events__container .events__content .advertise__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.events__container .events__content .advertise__container p {
  font-size: 30px;
  font-weight: bold;
}
.events__container .events__content .advertise__container h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 10px;
}
.events__container .events__content .advertise__container h3 i {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #edb200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}
.events__container .events__content .advertise__container h3:hover {
  -webkit-filter: contrast(65%);
          filter: contrast(65%);
}
.events__container .events__content .add__event__container {
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.events__container .events__content .add__event__container .add__event {
  background-color: #edb200;
  padding: 2px 20px;
  border-radius: 15px;
  font-weight: bold;
}
.events__container .events__content .add__event__container .add__event__notallowed {
  background-color: #edb200;
  opacity: 0.4;
  padding: 2px 20px;
  border-radius: 15px;
  font-weight: bold;
  cursor: not-allowed;
}
.events__container .events__content .add__event__container .add__event:hover {
  -webkit-filter: contrast(65%);
          filter: contrast(65%);
}
.events__container .events__content .single__event {
  margin: 35px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.events__container .events__content .single__event .infos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
}
.events__container .events__content .single__event .infos__container .date__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.events__container .events__content .single__event .infos__container .date__location .date {
  margin-right: 20px;
  color: #edb200;
  font-weight: bold;
}
.events__container .events__content .single__event .infos__container .date__location .location i {
  margin-right: 5px;
}
.events__container .events__content .single__event .infos__container .date__location .location a {
  text-decoration: underline;
}
.events__container .events__content .single__event .infos__container .title__container {
  margin-top: 10px;
}
.events__container .events__content .single__event .infos__container .title__container h3 {
  color: #000;
  font-weight: 900;
  font-size: 25px;
}
.events__container .events__content .single__event .infos__container .text {
  margin: 5px 0px;
}
.events__container .events__content .single__event .infos__container .event__register__container {
  margin-top: 5px;
}
.events__container .events__content .single__event .infos__container .event__register__container .event__register {
  padding: 3px 20px;
  font-weight: bold;
  background-color: #edb200;
  border-radius: 15px;
}
.events__container .events__content .single__event .infos__container .event__register__container .event__register:hover {
  -webkit-filter: contrast(65%);
          filter: contrast(65%);
}
.events__container .events__content .single__event .img__container {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.events__container .events__content .single__event .img__container img {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.events__container .events__content .single__event .img__container .event__bookmark__container {
  position: relative;
  right: 30px;
  top: -10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.events__container .events__content .single__event .img__container .event__bookmark__container .event__bookmark {
  color: #fff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.events__container .events__content .single__event .img__container .event__bookmark__container .bookmarked {
  color: #edb200;
}
.events__container .events__content .single__event .img__container .event__bookmark__hover {
  position: absolute;
  display: none;
  padding: 3px 10px;
  right: -80px;
  top: 50px;
  background-color: #000;
  color: #fff;
}
.events__container .flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.events__container .new__event__container {
  z-index: 100;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: -30px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.events__container .new__event__container .new__event__content {
  width: 45%;
  max-height: 600px;
  overflow: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.events__container .new__event__container .new__event__content .close__container {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.events__container .new__event__container .new__event__content .close__container i {
  font-size: 22px;
  width: 30px;
  height: 30px;
  border: 3px solid #000;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.events__container .new__event__container .new__event__content .close__container:hover {
  background-color: lightgray;
  border-radius: 100%;
}
.events__container .new__event__container .new__event__content .new__event .h3__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.events__container .new__event__container .new__event__content .new__event #new__event__form .input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.events__container .new__event__container .new__event__content .new__event #new__event__form .submit__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}/*# sourceMappingURL=events.css.map */