.events__container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
    .events__content {
        width: 95%;

        .h1__container {
            align-items: center;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            display: flex;
            justify-content: flex-start;
            width: 100%;

            .arrow {
                font-size: 60px;
                margin-right: 50px;
            }

            h1 {
                font-size: 60px;
                position: relative;
                width: 100%;

                span {
                    color: #edb20047; 
                    font-size: 80px;
                    left: -30px;
                    position: absolute;
                    top: -35px;
                }
            }
        }

        .img_wrapper {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-bottom: 2%;
            width: 100%;

            img {
                max-width: 800px;
                width: 100%;
            }
        }

        .advertise__container {
            display: flex;
            margin-top: 300px;
            flex-direction: column;
            align-items: center;
            p {
                font-size: 30px;
                font-weight: bold;
            }
            h3 {
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-top: 10px;
                i {
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    border: 1px solid #edb200;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 20px;
                }
            }
            h3:hover {
                filter: contrast(65%);
            }
        }
        .add__event__container {
            height: 60px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            .add__event {
                background-color: #edb200;
                padding: 2px 20px;
                border-radius: 15px;
                font-weight: bold;
            }
            .add__event__notallowed {
                background-color: #edb200;
                opacity: 0.4;
                padding: 2px 20px;
                border-radius: 15px;
                font-weight: bold;
                cursor: not-allowed;
            }
            .add__event:hover {
                filter: contrast(65%);
            }
        }
        .single__event {
            margin: 35px 0px;
            display: flex;
            justify-content: space-between;
            .infos__container {
                display: flex;
                flex-direction: column;
                .date__location {
                    display: flex;
                    .date {
                        margin-right: 20px;
                        color: #edb200;
                        font-weight: bold;
                    }
                    .location {
                        i {
                            margin-right: 5px;
                        }
                        a {
                            text-decoration: underline;
                        }
                    }
                }
                .title__container {
                    margin-top: 10px;
                    h3 {
                        color: #000;
                        font-weight: 900;
                        font-size: 25px;
                    }
                }
                .text {
                    margin: 5px 0px;
                }
                .event__register__container {
                    margin-top: 5px;
                    .event__register {
                        padding: 3px 20px;
                        font-weight: bold;
                        background-color: #edb200;
                        border-radius: 15px;
                    }
                    .event__register:hover {
                        filter: contrast(65%);
                    }
                }
            }
            .img__container {
                width: 25%;
                display: flex;
                justify-content: center;
                img {
                    width: 300px;
                    height: 200px;
                    object-fit: cover;
                    max-width: 300px;
                }
                .event__bookmark__container {
                    position: relative;
                    right: 30px;
                    top: -10px;
                    width: fit-content;
                    height: fit-content;
                    .event__bookmark {
                        color: #fff;
                        font-size: 30px;
                        width: 50px;
                        height: 50px;
                        background-color: #000;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                    .bookmarked {
                        color: #edb200;
                    }
                }
        
                .event__bookmark__hover {
                    position: absolute;
                    display: none;
                    padding: 3px 10px;
                    right: -80px;
                    top: 50px;
                    background-color: #000;
                    color: #fff;
                }
            }
        }
        .event__divider {
            display: flex;
            justify-content: center;
            .divider {
                width: 65%;
                border-top: 1px solid gray;
            }
        }
    }
    .flex {
        display: flex!important;
    }
    .new__event__container {
        z-index: 100;
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        min-height: 100vh;
        top: -30px;
        left: 0;
        background-color: rgba(0,0,0,0.7);
        .new__event__content {
            width: 45%;
            max-height: 600px;
            overflow: auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            position: relative;
            .close__container {
                position: absolute;
                top: 10px;
                right: 20px;
                cursor: pointer;
                i {
                    font-size: 22px;
                    width: 30px;
                    height: 30px;
                    border: 3px solid #000;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .close__container:hover {
                background-color: lightgray;
                border-radius: 100%;
            }
            .new__event {
                .h3__container {
                    display: flex;
                    justify-content: center;
                }
                #new__event__form {
                    .input__container {
                        display: flex;
                        flex-direction: column;
                    }
                    .submit__container {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1366px) {
    .events__container {
        .new__event__container {
            .new__event__content {
                width: 95%;
                .inputs__container {
                    width: 100%;
                    padding: 20px 0px;
                }
            }
        }
    }
}

@media screen and (max-width:1100px) {
    .events__container {
        .events__content {
            .single__event {
                .img__container {
                    img {
                        width: 200px;
                        max-width: 200px;
                        height: 140px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .events__container {
        .events__content {
            .single__event {
                flex-direction: column;
                align-items: center;
                .infos__container {
                    align-items: center;
                }
                .img__container {
                    margin-top: 20px;
                    margin-left: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .events__container {
        .new__event__container {
            align-items: flex-start;
            .new__event__content {
                max-height: 450px;
                margin-top: 100px;
                .close__container {
                    right: 5px
                }
            }
        }
    }
}