.facts-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.facts-container .facts-content {
  border-radius: 10px;
  margin: 3% 0;
  width: 90%;
}
.facts-container .facts-content .top-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}
.facts-container .facts-content .top-div .white-buble {
  background-color: #fff;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  margin: 0 1%;
  width: 35px;
}
.facts-container .facts-content .top-div .arrow {
  font-size: 60px;
  margin-right: 50px;
}
.facts-container .facts-content .content {
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}
.facts-container .facts-content .content .facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.facts-container .facts-content .content .facts .fact {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-right: #b4b4b4 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 3% 0;
  padding: 0 25px;
  width: 350px;
}
.facts-container .facts-content .content .facts .fact .circle-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
  width: 100%;
}
.facts-container .facts-content .content .facts .fact .circle-wrapper .circle {
  border: solid #000 10px;
  border-radius: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 175px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 175px;
}
.facts-container .facts-content .content .facts .fact .circle-wrapper .circle p {
  font-size: 75px;
  font-weight: bold;
  margin: 0;
}
.facts-container .facts-content .content .facts .fact .source {
  margin-top: 25px;
}
.facts-container .facts-content .content .facts .fact .source .source-url {
  color: #edb200;
}
.facts-container .facts-content .content .facts .fact:nth-child(5n) {
  border: none;
}/*# sourceMappingURL=facts.css.map */