.fourm__container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.fourm__container .fourm__content {
  width: 95%;
}
.fourm__container .fourm__content .first__content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.fourm__container .fourm__content .first__content .text__content {
  margin: 20px 0px;
  text-align: center;
}
.fourm__container .fourm__content .first__content .text__content h2 {
  margin-bottom: 10px;
  line-height: 1em;
  text-align: center;
}
.fourm__container .fourm__content .first__content .text__content .text {
  display: flex;
  justify-content: center;
}
.fourm__container .fourm__content .first__content .text__content .text p {
  width: 80%;
}
.fourm__container .fourm__content .first__content .text__content .flex-column {
  flex-direction: column;
  align-items: center;
  text-align: start;
}
.fourm__container .fourm__content .first__content .text__content .subtitle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.fourm__container .fourm__content .first__content .text__content .list__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourm__container .fourm__content .first__content .text__content .list__container li {
  width: 80%;
  text-align: center;
  list-style: circle;
  margin: 10px 0px;
}
.fourm__container .fourm__content .text__img__container {
  display: flex;
  margin: 30px 0px;
  justify-content: center;
}
.fourm__container .fourm__content .text__img__container div {
  padding: 0px 20px;
}
.fourm__container .fourm__content .text__img__container .img__container {
  width: 50%;
}
.fourm__container .fourm__content .text__img__container .img__container img {
  width: 100%;
}
.fourm__container .fourm__content .text__img__container .text__content {
  width: 50%;
}
.fourm__container .fourm__content .text__img__container .text__content h2 {
  margin-bottom: 10px;
}
.fourm__container .fourm__content .text__img__container .text__content .text {
  padding: 0px;
  display: flex;
}
.fourm__container .fourm__content .text__img__container .text__content .text p {
  width: 85%;
}
.fourm__container .fourm__content .dropdown__container {
  margin: 30px 0px;
}
.fourm__container .fourm__content .dropdown__container .dropdown__content .dropdown {
  height: 60px;
  margin: 10px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  cursor: pointer;
}
.fourm__container .fourm__content .dropdown__container .dropdown__content .dropdown i {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  transition: 0.2s linear;
}
.fourm__container .fourm__content .dropdown__container .dropdown__content .dropdown .drop__trigger, .fourm__container .fourm__content .dropdown__container .dropdown__content .dropdown .drop__trigger__parent {
  cursor: pointer;
}
.fourm__container .fourm__content .dropdown__container .dropdown__content .rotate {
  transform: rotate(180deg);
}
.fourm__container .fourm__content .dropdown__container .dropdown__content .drop__content {
  height: 0;
  overflow: hidden;
}

@media screen and (max-width: 1366px) {
  .fourm__container .fourm__content .text__img__container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .fourm__container .fourm__content .text__img__container .text__content {
    width: 100%;
  }
}/*# sourceMappingURL=fourmiliere.css.map */