.homepage__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home__banner__container {
        height: calc(100vh);
        width: 100%;
        position: relative;
        z-index: -10;
        margin-top: -100px;
    } 

    .homepage__content {
        width: 85%;

        .first__static__content {
            margin-top: -50px;
            display: flex;

            .first__content {
                padding: 0px 20px;
                width: 75%;

                .infos__content {
                    padding: 20px;
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    min-height: 350px;
                    display: flex;
                    flex-direction: column;

                    h1 {
                        color: #edb200;
                    }

                    .text__content {
                        margin-top: 10px;

                        p {
                            color: #fff;
                        }
                    }
                }


                .conversations__container {
                    margin-top: 30px;
                    width: 100%;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        text-align: center;
                        padding: 10px 0px;
                    }

                    .single__conversation__container {
                        width: 85%;
                        background-color: #fff;
                        border-radius: 10px;
                        margin: 10px 0px;

                        .conv__title__container {
                            padding: 12px 20px;
                            background-color: #edb200;
                            border-top-right-radius: 10px;
                            border-top-left-radius: 10px;
                        }

                        .infos__container {
                            padding: 20px;

                            .stamp__container {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .conv__author {
                                    display: flex;
                                    align-items: center;

                                    img {
                                        width: 50px;
                                        border-radius: 100%;
                                    }

                                    .author {
                                        margin-left: 10px;
                                        font-weight: bold;
                                    }
                                }
                            }

                            .body__container {
                                margin-top: 15px;
                            }

                            .action__container {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: 80px;

                                .tags__container {
                                    .tags {
                                        background-color: #000;
                                        color: #fff;
                                        padding: 5px 20px;
                                        border-radius: 20px;
                                    }
                                }

                                .conv__href__container {
                                    background-color: #edb200;
                                    padding: 5px 20px;
                                    border-radius: 20px;
                                }
                            }
                        }
                    }

                    .forum__href__container {
                        margin: 30px 0px 0px 0px;

                        .href__forum {
                            background-color: #fff;
                            color: #000;
                            padding: 5px 20px;
                            border-radius: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .fa-long-arrow-right {
                                margin-left: 10px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

            .second__content {
                width: 25%;

                .users__container {
                    padding: 20px;
                    height: 100%;
                    max-height: 100%;

                    h3 {
                        text-align: center;
                        font-size: 20px;
                    }

                    .no__member__container {
                        display: flex;
                        justify-content: center;
                        padding: 10px 0px;

                        p {
                            color: #fff;
                        }
                    }

                    .users__list {
                        .single__user {
                            display: flex;
                            margin: 20px 0px;

                            .img__container {
                                img {
                                    width: 80px;
                                    height: 80px;
                                    object-fit: cover;
                                    border-radius: 10px;
                                }
                            }

                            .user__info__container {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                padding: 5px;

                                .user__created__at {
                                    p {
                                        color: #edb200;
                                    }
                                }

                                p {
                                    margin: 0px;
                                    line-height: 1.05em;
                                    color: #fff;
                                }

                            }
                        }
                    }

                    .member__href__container {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .member__href {
                            padding: 5px 20px;
                            border-radius: 15px;
                            background: #fff;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin: 0px;

                            i {
                                margin-left: 10px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }

        .second__static__content {
            margin-top: 30px;

            .about__container {
                display: flex;
                height: 400px;

                .text__container {
                    width: 40%;
                    padding: 0px 20px;
                }

                .img__container {
                    width: 60%;
                }
            }

            .register__info__container {
                display: flex;

                .img__container {
                    width: 40%;

                    img {
                        width: 100%;
                    }
                }

                .text__container {
                    padding: 20px;
                    width: 60%;
                }

                .register__actions__container {
                    margin-top: 50px;
                    width: 100%;
                    max-width: 100%;
                    display: flex;
                    align-items: center;

                    .register {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 5px 10px;
                        width: 250px;
                        max-width: 100%;
                        border-radius: 15px;
                        border: 1px solid #000;
                        font-weight: bold;
                        margin-right: 10px;
                    }

                    .login {
                        text-decoration: underline;
                        font-size: 14px;
                    }
                }
            }
        }

        .third__static__content {
            display: flex;
            margin: 20px 0px;

            .blogs__container {
                margin-right: 20px;
                padding: 20px;

                h2 {
                    text-align: center;
                    margin-bottom: 20px;
                }

                .single__blog {
                    align-items: center;
                    background-color: #fff;
                    display: flex;
                    height: 200px;
                    padding: 10px;
                    width: 100%;
                    border-radius: 10px;
                    margin: 20px 0px;
                    .bookmarked {
                        color: #edb200 !important;
                    }
                    .img__container {
                        img {
                            max-width: 150px;
                        }
                    }

                    .text__container {
                        margin: 0px 20px;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: space-evenly;
                        width: 100%;
                        position: relative;

                        h3 {
                            color: #000;
                            font-size: 25px;
                            font-weight: bold;
                        }

                        .blog__body {
                            font-size: 14px;
                            line-height: 1.25em;
                        }

                        .actions__container {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;

                            .tags__container {
                                .tags {
                                    border: 5px 20px;
                                    background-color: #000;
                                    color: #fff;
                                    border-radius: 15px;
                                    padding: 2px 10px;
                                    font-size: 14px;
                                }
                            }

                            .read__container {
                                .read {
                                    background-color: #edb200;
                                    padding: 2px 20px;
                                    border-radius: 15px;
                                }
                            }
                        }

                        .post__bookmark__container {
                            position: absolute;
                            top: 0px;
                            right: -10px;

                            #post__bookmark {
                                background-color: #000;
                                color: #fff;
                                width: 35px;
                                height: 35px;
                                border-radius: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 17px;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .blog__href__container {
                    margin-top: 30px;
                    display: flex;
                    justify-content: center;

                    .blog__href {
                        background-color: #fff;
                        border-radius: 15px;
                        padding: 2px 20px;
                        width: 250px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-weight: bold;
                    }
                }
            }

            .blogs__container,
            .tools__container {
                width: 50%;
                padding: 20px;
            }

            .tools__container {
                h2 {
                    text-align: center;
                    margin-bottom: 20px;
                }

                .single__tool {
                    background-color: #fff;
                    width: 100%;
                    height: 310px;
                    border-radius: 10px;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    position: relative;
                    margin: 20px 0px;

                    h3 {
                        color: #000;
                        font-size: 25px;
                        font-weight: bold;
                    }

                    .actions__container {
                        display: flex;
                        justify-content: space-between;

                        .tags__container {
                            .tags {
                                border: 5px 20px;
                                background-color: #000;
                                color: #fff;
                                border-radius: 15px;
                                padding: 2px 10px;
                                font-size: 14px;
                            }
                        }

                        .read__container {
                            .read {
                                background-color: #edb200;
                                padding: 2px 20px;
                                border-radius: 15px;
                            }
                        }
                    }

                    .tool__bookmark__container {
                        position: absolute;
                        top: 10px;
                        right: 15px;

                        #tool__bookmark {
                            background-color: #000;
                            color: #fff;
                            width: 35px;
                            height: 35px;
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 17px;
                            cursor: pointer;
                        }

                        .bookmarked {
                            color: #edb200 !important;
                        }

                        .bookmark__hover {
                            display: none;
                            position: absolute;
                            top: 40px;
                            right: -100px;
                            background-color: #000;
                            color: #fff;
                            width: 120px;
                            text-align: center;
                        }
                    }

                    .tool__bookmark__container:hover {
                        .bookmark__hover {
                            display: block !important;
                        }
                    }
                }

                .tool__href__container {
                    margin-top: 30px;
                    display: flex;
                    justify-content: center;

                    .tool__href {
                        background-color: #fff;
                        border-radius: 15px;
                        padding: 2px 20px;
                        width: 250px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-weight: bold;
                    }
                }
            }
        }
        .fourth__static__content {
            margin-bottom: 10px;
            .events__container {
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    text-align: center;
                    margin-bottom: 20px;
                }

                .single__event {
                    align-items: center;
                    background-color: #fff;
                    display: flex;
                    height: 200px;
                    padding: 10px;
                    width: 100%;
                    border-radius: 10px;
                    margin: 20px 0px;
                    .bookmarked {
                        color: #edb200 !important;
                    }
                    .img__container {
                        img {
                            max-width: 150px;
                        }
                    }

                    .text__container {
                        margin: 0px 20px;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: space-evenly;
                        width: 100%;
                        position: relative;

                        h3 {
                            color: #000;
                            font-size: 25px;
                            font-weight: bold;
                        }

                        .event__body {
                            font-size: 14px;
                            line-height: 1.25em;
                        }

                        .actions__container {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;

                            .read__container {
                                .read {
                                    background-color: #edb200;
                                    padding: 2px 20px;
                                    border-radius: 15px;
                                }
                            }
                        }

                        .event__bookmark__container {
                            position: absolute;
                            top: 0px;
                            right: -10px;

                            #event__bookmark {
                                background-color: #000;
                                color: #fff;
                                width: 35px;
                                height: 35px;
                                border-radius: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 17px;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .event__href__container {
                    margin-top: 30px;
                    display: flex;
                    justify-content: center;

                    .event__href {
                        background-color: #fff;
                        border-radius: 15px;
                        padding: 2px 20px;
                        width: 300px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 1366px) {
    .homepage__container {
        .homepage__content {
            width: 100%;

            .first__static__content {
                flex-direction: column;
                align-items: center;

                .first__content {
                    width: 100%;
                }

                .second__content {
                    width: 100%;
                    padding: 0px 20px;
                    margin-top: 30px;
                }
            }
            .second__static__content {
                padding: 0px 20px;
            }
            .third__static__content {
                flex-direction: column;
                padding: 0px 20px;
                .blogs__container {
                    width: 100%;
                    margin-bottom: 20px;
                }
                .tools__container {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    .homepage__container {
        .homepage__content {
            .second__static__content {
                .about__container {
                    flex-direction: column;
                    height: auto;
                    .text__container {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    .img__container {
                        width: 100%;
                        height: 400px;
                    }
                }
                .register__info__container {
                    flex-direction: column-reverse;
                    .text__container {
                        width: 100%;
                    }
                    .img__container {
                        width: 100%;
                    }
                }
            }
        }
    }
} 

@media screen and (max-width:600px) {
    .homepage__container {
        .homepage__content {
            .first__static__content {
                .first__content {
                    .conversations__container {
                        padding: 10px;
                        .single__conversation__container {
                            width: 95%;
                            .infos__container {
                                padding: 10px;
                                .stamp__container {
                                    .timestamp {
                                        display: flex;
                                        justify-content: flex-end;
                                        p {
                                            font-size: 14px;
                                            width: 50%;
                                        }
                                    }
                                }
                                .action__container {
                                    flex-direction: column;
                                    .tags__container {
                                        margin-bottom: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .third__static__content {
                .blogs__container {
                    .single__blog {
                        flex-direction: column;
                        height: auto;
                        position: relative;
                        .img__container {
                            img {
                                max-width: 100px;
                            }
                        }
                        .text__container {
                            position: initial;
                            align-items: center;
                            padding-top: 10px;
                            .post__bookmark__container {
                                right: 20px;
                                top: 10px;
                            }
                            .actions__container {
                                flex-direction: column;
                                padding: 10px 0px;
                                .read__container {
                                    margin-top: 20px;
                                }
                            }
                        }
                    }
                }
                .tools__container {
                    .single__tool {
                        .actions__container {
                            flex-direction: column;
                            .read__container {
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}