.lexique-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.lexique-container .lexique-content {
  border-radius: 10px;
  margin: 3% 0;
  width: 90%;
}
.lexique-container .lexique-content .top-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 4%;
  position: relative;
  width: 100%;
}
.lexique-container .lexique-content .top-div .white-buble {
  background-color: #fff;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  margin: 0 1%;
  width: 35px;
}
.lexique-container .lexique-content .top-div .arrow {
  font-size: 60px;
  margin-right: 50px;
}
.lexique-container .lexique-content .top-div h1 {
  color: #edb200;
  font-size: 60px;
  position: relative;
}
.lexique-container .lexique-content .top-div p {
  color: rgba(237, 178, 0, 0.2784313725);
  font-family: "Edo", sans-serif;
  font-size: 80px;
  left: -30px;
  position: absolute;
  top: -35px;
}
.lexique-container .lexique-content .content {
  width: 100%;
}
.lexique-container .lexique-content .content .thematiques-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.lexique-container .lexique-content .content .thematiques-ctn .thematiques {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: auto;
  width: 50%;
}
.lexique-container .lexique-content .content .thematiques-ctn .thematiques .thematique {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  border: #000 solid 1px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  height: 40px;
  margin: 5px;
  padding: 5px 10px;
  text-decoration: none;
}
.lexique-container .lexique-content .content .thematiques-ctn .thematiques .thematique:hover {
  background-color: #fff;
  color: #000;
}
.lexique-container .lexique-content .content .thematiques-ctn .thematiques .selected {
  background-color: #edb200;
  border: #edb200 solid 1px;
}
.lexique-container .lexique-content .content .thematiques-ctn ::-webkit-scrollbar {
  width: 10px;
}
.lexique-container .lexique-content .content .thematiques-ctn ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px transparent;
          box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}
.lexique-container .lexique-content .content .thematiques-ctn ::-webkit-scrollbar-thumb {
  background: #b2b2b2;
  border-radius: 10px;
}
.lexique-container .lexique-content .content .thematiques-ctn ::-webkit-scrollbar-thumb:hover {
  background: #868686;
}
.lexique-container .lexique-content .content .thematiques-ctn .thematique-infos {
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  border-radius: 10px;
  display: none;
  max-height: 250px;
  overflow-y: auto;
  padding: 1%;
  width: 45%;
}
.lexique-container .lexique-content .content .thematiques-ctn .thematique-infos div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.lexique-container .lexique-content .content .thematiques-ctn .thematique-infos div .name {
  color: #fff;
  font-size: 24px;
}
.lexique-container .lexique-content .content .thematiques-ctn .thematique-infos div .buble {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
}
.lexique-container .lexique-content .content .thematiques-ctn .thematique-infos div .buble i {
  color: #edb200;
  font-size: 17px;
}
.lexique-container .lexique-content .content .thematiques-ctn .thematique-infos div .active {
  background-color: #000;
  border: #000;
}
.lexique-container .lexique-content .content .thematiques-ctn .thematique-infos div .active i {
  color: #edb200;
}
.lexique-container .lexique-content .content .thematiques-ctn .thematique-infos div .buble:hover {
  background-color: #000;
  border: #000 solid 1px;
}
.lexique-container .lexique-content .content .thematiques-ctn .thematique-infos div .buble:hover i {
  color: #edb200;
}
.lexique-container .lexique-content .content .thematiques-ctn .thematique-infos .desc {
  color: #fff;
  font-size: 18px;
}
.lexique-container .lexique-content .content .thematiques-ctn .actived {
  display: block;
}
.lexique-container .lexique-content .content .bar-filter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3% 0;
  padding: 1%;
  width: 100%;
}
.lexique-container .lexique-content .content .bar-filter p {
  color: #edb200;
  font-size: 24px;
}
.lexique-container .lexique-content .content .bar-filter .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lexique-container .lexique-content .content .bar-filter .filters .filter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
}
.lexique-container .lexique-content .content .bar-filter .filters .filter .checkbox {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}
.lexique-container .lexique-content .content .bar-filter .filters .filter .checked {
  background-color: #edb200;
}
.lexique-container .lexique-content .content .bar-filter .filters .filter p {
  color: #fff;
  font-size: 18px;
}
.lexique-container .lexique-content .content .contenu {
  width: 100%;
}
.lexique-container .lexique-content .content .contenu .tools, .lexique-container .lexique-content .content .contenu .convos, .lexique-container .lexique-content .content .contenu .posts {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.lexique-container .lexique-content .content .contenu .tools .tool, .lexique-container .lexique-content .content .contenu .tools .post, .lexique-container .lexique-content .content .contenu .tools .convo, .lexique-container .lexique-content .content .contenu .convos .tool, .lexique-container .lexique-content .content .contenu .convos .post, .lexique-container .lexique-content .content .contenu .convos .convo, .lexique-container .lexique-content .content .contenu .posts .tool, .lexique-container .lexique-content .content .contenu .posts .post, .lexique-container .lexique-content .content .contenu .posts .convo {
  background-color: #f7f7f7;
  border-radius: 10px;
  margin: 1%;
  width: 450px;
}
.lexique-container .lexique-content .content .contenu .tools .tool .top, .lexique-container .lexique-content .content .contenu .tools .post .top, .lexique-container .lexique-content .content .contenu .tools .convo .top, .lexique-container .lexique-content .content .contenu .convos .tool .top, .lexique-container .lexique-content .content .contenu .convos .post .top, .lexique-container .lexique-content .content .contenu .convos .convo .top, .lexique-container .lexique-content .content .contenu .posts .tool .top, .lexique-container .lexique-content .content .contenu .posts .post .top, .lexique-container .lexique-content .content .contenu .posts .convo .top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #edb200;
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  min-height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  width: 100%;
}
.lexique-container .lexique-content .content .contenu .tools .tool .top p, .lexique-container .lexique-content .content .contenu .tools .post .top p, .lexique-container .lexique-content .content .contenu .tools .convo .top p, .lexique-container .lexique-content .content .contenu .convos .tool .top p, .lexique-container .lexique-content .content .contenu .convos .post .top p, .lexique-container .lexique-content .content .contenu .convos .convo .top p, .lexique-container .lexique-content .content .contenu .posts .tool .top p, .lexique-container .lexique-content .content .contenu .posts .post .top p, .lexique-container .lexique-content .content .contenu .posts .convo .top p {
  font-size: 20px;
  width: 90%;
}
.lexique-container .lexique-content .content .contenu .tools .tool .top .buble, .lexique-container .lexique-content .content .contenu .tools .post .top .buble, .lexique-container .lexique-content .content .contenu .tools .convo .top .buble, .lexique-container .lexique-content .content .contenu .convos .tool .top .buble, .lexique-container .lexique-content .content .contenu .convos .post .top .buble, .lexique-container .lexique-content .content .contenu .convos .convo .top .buble, .lexique-container .lexique-content .content .contenu .posts .tool .top .buble, .lexique-container .lexique-content .content .contenu .posts .post .top .buble, .lexique-container .lexique-content .content .contenu .posts .convo .top .buble {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
}
.lexique-container .lexique-content .content .contenu .tools .tool .top .buble i, .lexique-container .lexique-content .content .contenu .tools .post .top .buble i, .lexique-container .lexique-content .content .contenu .tools .convo .top .buble i, .lexique-container .lexique-content .content .contenu .convos .tool .top .buble i, .lexique-container .lexique-content .content .contenu .convos .post .top .buble i, .lexique-container .lexique-content .content .contenu .convos .convo .top .buble i, .lexique-container .lexique-content .content .contenu .posts .tool .top .buble i, .lexique-container .lexique-content .content .contenu .posts .post .top .buble i, .lexique-container .lexique-content .content .contenu .posts .convo .top .buble i {
  color: #edb200;
  font-size: 17px;
}
.lexique-container .lexique-content .content .contenu .tools .tool .top .buble:hover, .lexique-container .lexique-content .content .contenu .tools .post .top .buble:hover, .lexique-container .lexique-content .content .contenu .tools .convo .top .buble:hover, .lexique-container .lexique-content .content .contenu .convos .tool .top .buble:hover, .lexique-container .lexique-content .content .contenu .convos .post .top .buble:hover, .lexique-container .lexique-content .content .contenu .convos .convo .top .buble:hover, .lexique-container .lexique-content .content .contenu .posts .tool .top .buble:hover, .lexique-container .lexique-content .content .contenu .posts .post .top .buble:hover, .lexique-container .lexique-content .content .contenu .posts .convo .top .buble:hover {
  background-color: #000;
  border: #000 solid 1px;
}
.lexique-container .lexique-content .content .contenu .tools .tool .top .buble:hover i, .lexique-container .lexique-content .content .contenu .tools .post .top .buble:hover i, .lexique-container .lexique-content .content .contenu .tools .convo .top .buble:hover i, .lexique-container .lexique-content .content .contenu .convos .tool .top .buble:hover i, .lexique-container .lexique-content .content .contenu .convos .post .top .buble:hover i, .lexique-container .lexique-content .content .contenu .convos .convo .top .buble:hover i, .lexique-container .lexique-content .content .contenu .posts .tool .top .buble:hover i, .lexique-container .lexique-content .content .contenu .posts .post .top .buble:hover i, .lexique-container .lexique-content .content .contenu .posts .convo .top .buble:hover i {
  color: #edb200;
}
.lexique-container .lexique-content .content .contenu .tools .tool .top .active, .lexique-container .lexique-content .content .contenu .tools .post .top .active, .lexique-container .lexique-content .content .contenu .tools .convo .top .active, .lexique-container .lexique-content .content .contenu .convos .tool .top .active, .lexique-container .lexique-content .content .contenu .convos .post .top .active, .lexique-container .lexique-content .content .contenu .convos .convo .top .active, .lexique-container .lexique-content .content .contenu .posts .tool .top .active, .lexique-container .lexique-content .content .contenu .posts .post .top .active, .lexique-container .lexique-content .content .contenu .posts .convo .top .active {
  background-color: #000;
  border: #000;
}
.lexique-container .lexique-content .content .contenu .tools .tool .top .active i, .lexique-container .lexique-content .content .contenu .tools .post .top .active i, .lexique-container .lexique-content .content .contenu .tools .convo .top .active i, .lexique-container .lexique-content .content .contenu .convos .tool .top .active i, .lexique-container .lexique-content .content .contenu .convos .post .top .active i, .lexique-container .lexique-content .content .contenu .convos .convo .top .active i, .lexique-container .lexique-content .content .contenu .posts .tool .top .active i, .lexique-container .lexique-content .content .contenu .posts .post .top .active i, .lexique-container .lexique-content .content .contenu .posts .convo .top .active i {
  color: #edb200;
}
.lexique-container .lexique-content .content .contenu .tools .tool .bottom, .lexique-container .lexique-content .content .contenu .tools .post .bottom, .lexique-container .lexique-content .content .contenu .tools .convo .bottom, .lexique-container .lexique-content .content .contenu .convos .tool .bottom, .lexique-container .lexique-content .content .contenu .convos .post .bottom, .lexique-container .lexique-content .content .contenu .convos .convo .bottom, .lexique-container .lexique-content .content .contenu .posts .tool .bottom, .lexique-container .lexique-content .content .contenu .posts .post .bottom, .lexique-container .lexique-content .content .contenu .posts .convo .bottom {
  border: 1px solid #d3d3d3;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  width: 100%;
}
.lexique-container .lexique-content .content .contenu .tools .tool .bottom .desc, .lexique-container .lexique-content .content .contenu .tools .post .bottom .desc, .lexique-container .lexique-content .content .contenu .tools .convo .bottom .desc, .lexique-container .lexique-content .content .contenu .convos .tool .bottom .desc, .lexique-container .lexique-content .content .contenu .convos .post .bottom .desc, .lexique-container .lexique-content .content .contenu .convos .convo .bottom .desc, .lexique-container .lexique-content .content .contenu .posts .tool .bottom .desc, .lexique-container .lexique-content .content .contenu .posts .post .bottom .desc, .lexique-container .lexique-content .content .contenu .posts .convo .bottom .desc {
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
  min-height: 75px;
}
.lexique-container .lexique-content .content .contenu .tools .tool .bottom .tags, .lexique-container .lexique-content .content .contenu .tools .post .bottom .tags, .lexique-container .lexique-content .content .contenu .tools .convo .bottom .tags, .lexique-container .lexique-content .content .contenu .convos .tool .bottom .tags, .lexique-container .lexique-content .content .contenu .convos .post .bottom .tags, .lexique-container .lexique-content .content .contenu .convos .convo .bottom .tags, .lexique-container .lexique-content .content .contenu .posts .tool .bottom .tags, .lexique-container .lexique-content .content .contenu .posts .post .bottom .tags, .lexique-container .lexique-content .content .contenu .posts .convo .bottom .tags {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 4%;
  width: 100%;
}
.lexique-container .lexique-content .content .contenu .tools .tool .bottom .tags .tag, .lexique-container .lexique-content .content .contenu .tools .post .bottom .tags .tag, .lexique-container .lexique-content .content .contenu .tools .convo .bottom .tags .tag, .lexique-container .lexique-content .content .contenu .convos .tool .bottom .tags .tag, .lexique-container .lexique-content .content .contenu .convos .post .bottom .tags .tag, .lexique-container .lexique-content .content .contenu .convos .convo .bottom .tags .tag, .lexique-container .lexique-content .content .contenu .posts .tool .bottom .tags .tag, .lexique-container .lexique-content .content .contenu .posts .post .bottom .tags .tag, .lexique-container .lexique-content .content .contenu .posts .convo .bottom .tags .tag {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px 20px;
  text-decoration: none;
}
.lexique-container .lexique-content .content .contenu .tools .tool .bottom .tags .tag:hover, .lexique-container .lexique-content .content .contenu .tools .post .bottom .tags .tag:hover, .lexique-container .lexique-content .content .contenu .tools .convo .bottom .tags .tag:hover, .lexique-container .lexique-content .content .contenu .convos .tool .bottom .tags .tag:hover, .lexique-container .lexique-content .content .contenu .convos .post .bottom .tags .tag:hover, .lexique-container .lexique-content .content .contenu .convos .convo .bottom .tags .tag:hover, .lexique-container .lexique-content .content .contenu .posts .tool .bottom .tags .tag:hover, .lexique-container .lexique-content .content .contenu .posts .post .bottom .tags .tag:hover, .lexique-container .lexique-content .content .contenu .posts .convo .bottom .tags .tag:hover {
  background-color: transparent;
  color: #000;
}
.lexique-container .lexique-content .content .contenu .tools .tool .bottom .tags .tagged, .lexique-container .lexique-content .content .contenu .tools .post .bottom .tags .tagged, .lexique-container .lexique-content .content .contenu .tools .convo .bottom .tags .tagged, .lexique-container .lexique-content .content .contenu .convos .tool .bottom .tags .tagged, .lexique-container .lexique-content .content .contenu .convos .post .bottom .tags .tagged, .lexique-container .lexique-content .content .contenu .convos .convo .bottom .tags .tagged, .lexique-container .lexique-content .content .contenu .posts .tool .bottom .tags .tagged, .lexique-container .lexique-content .content .contenu .posts .post .bottom .tags .tagged, .lexique-container .lexique-content .content .contenu .posts .convo .bottom .tags .tagged {
  background-color: #edb200;
  border-color: #edb200;
}
.lexique-container .lexique-content .content .contenu .tools .tool .bottom a, .lexique-container .lexique-content .content .contenu .tools .post .bottom a, .lexique-container .lexique-content .content .contenu .tools .convo .bottom a, .lexique-container .lexique-content .content .contenu .convos .tool .bottom a, .lexique-container .lexique-content .content .contenu .convos .post .bottom a, .lexique-container .lexique-content .content .contenu .convos .convo .bottom a, .lexique-container .lexique-content .content .contenu .posts .tool .bottom a, .lexique-container .lexique-content .content .contenu .posts .post .bottom a, .lexique-container .lexique-content .content .contenu .posts .convo .bottom a {
  background-color: #edb200;
  border: 1px solid #edb200;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
  padding: 5px 20px;
  text-decoration: none;
}
.lexique-container .lexique-content .content .contenu .tools .tool .bottom a:hover, .lexique-container .lexique-content .content .contenu .tools .post .bottom a:hover, .lexique-container .lexique-content .content .contenu .tools .convo .bottom a:hover, .lexique-container .lexique-content .content .contenu .convos .tool .bottom a:hover, .lexique-container .lexique-content .content .contenu .convos .post .bottom a:hover, .lexique-container .lexique-content .content .contenu .convos .convo .bottom a:hover, .lexique-container .lexique-content .content .contenu .posts .tool .bottom a:hover, .lexique-container .lexique-content .content .contenu .posts .post .bottom a:hover, .lexique-container .lexique-content .content .contenu .posts .convo .bottom a:hover {
  background-color: transparent;
}
.lexique-container .lexique-content .content .contenu .hidden {
  display: none;
}

@media screen and (max-width: 1075px) {
  .lexique-container .lexique-content .content .thematiques-ctn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lexique-container .lexique-content .content .thematiques-ctn .thematiques {
    margin-bottom: 2%;
    width: 100%;
  }
  .lexique-container .lexique-content .content .thematiques-ctn .thematique-infos {
    width: 100%;
  }
  .lexique-container .lexique-content .content .bar-filter {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lexique-container .lexique-content .content .bar-filter p {
    font-size: 20px;
    text-align: center;
  }
  .lexique-container .lexique-content .content .bar-filter .filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 2% 0;
  }
  .lexique-container .lexique-content .content .contenu .tools .tool .bottom .desc {
    margin-bottom: 4%;
  }
  .lexique-container .lexique-content .content .contenu .tools .tool .bottom .tags {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .lexique-container .lexique-content .content .contenu .tools .tool .bottom .tags .tag {
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 767px) {
  .lexique-container {
    margin-top: 50px;
  }
  .lexique-container .lexique-content .top-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lexique-container .lexique-content .top-div h1 {
    font-size: 50px;
  }
  .lexique-container .lexique-content .top-div p {
    font-size: 60px;
    left: auto;
  }
}
@media screen and (max-width: 500px) {
  .lexique-container .lexique-content .top-div h1 {
    font-size: 40px;
  }
  .lexique-container .lexique-content .top-div p {
    font-size: 45px;
    top: -20px;
  }
}/*# sourceMappingURL=lexique.css.map */