.login__container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 100px);
}
.login__container .login__form {
  width: 700px;
  min-width: 300px;
  padding: 30px;
  background-color: #212121;
  border-radius: 15px;
}
.login__container .login__form .details__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__container .login__form .details__container i {
  color: #fff;
  font-size: 60px;
}
.login__container .login__form .details__container p {
  color: #fff;
  margin: 10px 0px 0px 0px;
  font-size: 25px;
  font-weight: bold;
}
.login__container .login__form .input__container {
  margin: 20px 0px;
}
.login__container .login__form .input__container label {
  color: #fff;
  margin: 0px 0px 10px 10px;
}
.login__container .login__form .input__container .form__input {
  background-color: #5e5e5e;
  color: #fff;
  border: none;
  border-radius: 30px;
  width: 100%;
  padding: 15px;
}
.login__container .login__form .input__container .form__input::-webkit-input-placeholder {
  font-weight: bold;
  font-size: 20px;
  color: gray;
  padding-left: 10px;
}
.login__container .login__form .input__container .form__input::-moz-placeholder {
  font-weight: bold;
  font-size: 20px;
  color: gray;
  padding-left: 10px;
}
.login__container .login__form .input__container .form__input:-ms-input-placeholder {
  font-weight: bold;
  font-size: 20px;
  color: gray;
  padding-left: 10px;
}
.login__container .login__form .input__container .form__input::-ms-input-placeholder {
  font-weight: bold;
  font-size: 20px;
  color: gray;
  padding-left: 10px;
}
.login__container .login__form .input__container .form__input::placeholder {
  font-weight: bold;
  font-size: 20px;
  color: gray;
  padding-left: 10px;
}
.login__container .login__form .input__container .form__input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.login__container .login__form .login__actions__container, .login__container .login__form .reset__actions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__container .login__form .login__actions__container .login__cta__container, .login__container .login__form .login__actions__container .reset__cta__container, .login__container .login__form .reset__actions__container .login__cta__container, .login__container .login__form .reset__actions__container .reset__cta__container {
  margin-top: 10px;
}
.login__container .login__form .login__actions__container .login__cta__container .login__cta, .login__container .login__form .login__actions__container .login__cta__container .reset__cta, .login__container .login__form .login__actions__container .reset__cta__container .login__cta, .login__container .login__form .login__actions__container .reset__cta__container .reset__cta, .login__container .login__form .reset__actions__container .login__cta__container .login__cta, .login__container .login__form .reset__actions__container .login__cta__container .reset__cta, .login__container .login__form .reset__actions__container .reset__cta__container .login__cta, .login__container .login__form .reset__actions__container .reset__cta__container .reset__cta {
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  font-weight: bold;
  padding: 10px 30px;
}
.login__container .login__form .login__actions__container .forgot__password__custom__container, .login__container .login__form .reset__actions__container .forgot__password__custom__container {
  border-bottom: 1px solid #fff;
  padding: 10px 0px;
  margin: 10px 0px;
}
.login__container .login__form .login__actions__container .forgot__password__custom__container .forgot__password__text, .login__container .login__form .reset__actions__container .forgot__password__custom__container .forgot__password__text {
  color: red;
}
.login__container .login__form .login__actions__container .remember__me__container span, .login__container .login__form .reset__actions__container .remember__me__container span {
  color: #fff;
}
.login__container .login__form .login__actions__container .register__custom__container, .login__container .login__form .reset__actions__container .register__custom__container {
  margin-top: 10px;
}
.login__container .login__form .login__actions__container .register__custom__container p, .login__container .login__form .reset__actions__container .register__custom__container p {
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__container .login__form .login__actions__container .register__custom__container p a, .login__container .login__form .reset__actions__container .register__custom__container p a {
  text-decoration: underline;
  text-underline-offset: 3px;
}/*# sourceMappingURL=login.css.map */