.members__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    .h1__container {
        align-items: center;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-left: 100px;
        .arrow {
            font-size: 60px;
            margin-right: 50px;
        }

    }
    .members {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        .member__card {
            width: 600px;
            height: 350px;
            border-radius: 15px;
            box-shadow: 4px 4px 8px 3px gray;
            margin: 10px;
            position: relative;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            .infos__container {
                display: flex;
                margin-top: 50px;
                .img__content {
                    width: 25%;
                    display: flex;
                    justify-content: center; 
                    img {
                        width: 80px;
                        height: 80px;
                        max-width: 120px;
                        border-radius: 100%;
                        object-fit: cover;
                    }
                }
                .info__content {
                    width: 75%;
                    margin-top: 0px;
                    color: #fff;
                    p {
                        font-size: 20px;
                        margin: 10px 0px;
                        strong {
                            font-size: 22px;
                        }
                    }
                }
            }
            #user__follow {
                position: absolute;
                top: 20px;
                right: 20px;
                background-color: #edb200;
                padding: 2px 12px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                font-weight: bold;
                i {
                    margin: 2px 0px 0px 10px;
                }
            }
            #user__follow:hover {
                filter: contrast(65%);
            }
        }
        .ghost__card {
            width: 600px;
            height: 0px;
            margin: 10px;
            overflow: 0;
        }
    }
}

@media screen and (max-width:600px) {
    .members__container {
        .members {
            .member__card {
                .infos__container {
                    flex-direction: column;
                    align-items: center;
                    .info__content {
                        text-align: center;
                    }
                }
            }
        }
    }
}